<div class="container-fluid" *ngIf="logoutbtn">
  <strong><h2 class="text-center">Usuarios</h2></strong>
  <div   class="row">
    <div  class="col-3 " id="ColIzq" >

      <form [formGroup]="usuaForm" (submit)="Agregar()">

        <div class="form-group" >
          <label for="id">id</label>
          <input type="number" formControlName="id" class="form-control" type="hidden"  id="id" name="id" minlength="4" >
        </div>

        <div class="form-group">
          <label for="name">Nombre</label>
          <input type="text" formControlName="name" class="form-control"  id="name" name="name" minlength="4" required>
        </div>
        <div class="errorUsuarios" *ngIf="usuaForm.invalid && usuaForm.touched">
          <span *ngIf="usuaForm.controls['name'].errors?.['minlength']">Usuario debe tener al menos un 4 caracteres<br></span>
          <span *ngIf="usuaForm.controls['name'].errors?.['required']">El campo Nombre es requerido<br></span>
                 </div>

        <div class="form-group">
          <label for="email">emails</label>
          <input type="email" formControlName="email" class="form-control" id="email" name="email" required >
        </div>

      <div class="errorUsuarios" *ngIf="usuaForm.invalid && usuaForm.touched">
        <span *ngIf="usuaForm.controls['email'].errors?.['email']">EL email debe tener @ <br></span>
        <span *ngIf="usuaForm.controls['email'].errors?.['required']">El campo email es requerido<br></span>

               </div>

        <div class="form-group">
          <label for="password">passwords</label>

          <input type="password" formControlName="password" class="form-control" id="password" name="password" minlength="4" required>
        </div>
        <div class="errorUsuarios" *ngIf="usuaForm.invalid && usuaForm.touched">
          <span *ngIf="usuaForm.controls['password'].errors?.['minlength']">Password debe tener al menos un 4 caracteres<br></span>
          <span *ngIf="usuaForm.controls['password'].errors?.['required']">El campo password es requerido<br></span>
        </div>


<div class="form-group">
          <label for="rol">Rol</label>
          <select formControlName="rol" class="form-control" name="rol" size="1" id="rol" title="rol">
                  <option value="user" selected>user</option>
                  <option value="admin" >admin</option>
                </select>
              </div>
              <div *ngIf="!ShowData" class="md-4">
                <button class="btn btn-primary" [disabled]="usuaForm.invalid" type="submit">Cargar</button>

               </div>


        </form>
        <div class="mt-2">

          <button *ngIf="ShowData" class="btn btn-success" (click)="Modificar()">Modificar</button>
         </div>

        <div>

          </div>
    </div>

    <div class="col-9 CentroHome" id="ColCentral">

      <table class = "table">
        <thead>
            <tr>
                <th>id</th>
                <th>name</th>
                <th>email</th>
                <th>password</th>
                <th>rol</th>
                <th colspan="3">Opciones</th>

            </tr>
        </thead>
        <tbody>
            <tr *ngFor = "let item of usuarios">
                <td>{{item.id}}</td>
                <td>{{item.name}}</td>
                <td>{{item.email}}</td>
                <td>{{item.password}}  </td>
                <td>{{item.rol}}</td>
 <td><button class="btn btn-success" (click)="editar(item)" type="button">Editar</button></td>
<td><button class="btn btn-danger" (click)="eliminar(item.id)" type="button">Eliminar</button></td>

            </tr>

        </tbody>
    </table>

    </div>

  </div>
</div>


